.submit-btn {
  @apply inline-flex justify-center rounded-md border border-transparent bg-red-100 px-4 py-2 text-sm font-medium focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:bg-gray-200 disabled:text-gray-600;
  background-color: rgba(255, 199, 0, 1);
  font-family: 'Copperplate';
}

.dialog {
  @apply w-full max-w-xl transform overflow-hidden rounded-2xl flex flex-col py-4 px-4 text-left align-middle shadow-xl transition-all;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(22px);
}

.dialog-title {
  @apply text-2xl text-white text-center font-bold;
  font-family: 'Montserrat';
  font-style: normal;
}

.dialog-input {
  @apply bg-gray-50 text-black rounded mt-6 p-2 w-full outline-none focus:outline-none;
}

.dialog-input::placeholder {
  @apply font-normal;
  font-family: 'Montserrat';
  font-style: normal;
}
